.work__container {
    width: 800px;
}

.work__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}

.work__img {
    margin-bottom: var(--mb-1); 
}

.work__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
    text-align: center;
}

.work__description {
    font-size: var(--small-font-size);
    text-align: center;
}

/* ***********  Swiper  ********* */

.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
}

/* ********************** Breakpoints ****************** */
/* For Large Device */
@media screen and (max-width: 992px){
    .work__container {
        width: 750px;

}

    .work__card {
        margin-right: 2rem;
    }
  }
  
/* For Medium Device */
@media screen and (max-width: 768px){
    .work__container {
        width: 500px;

}
  }


  @media screen and (max-width: 576px){
    .work__container {
        width: 350px;

    }

    .work__img {
        width: initial;
    }

  }
  
  
  /* For Small Device */
   @media screen and (max-width: 350px){
    .work__container {
        width: initial;
    }
  }
